@keyframes runslider {
    form{
        transform: translateX(0);
    }
    to{
        transform: translateX(-1545px);
    }
}
.runslider {
    animation: runslider 35s linear infinite;
}

*{
    
font-family: 'Manrope', sans-serif;
--tw-text-opacity: 1;
    color: rgb(51 51 51/var(--tw-text-opacity));

}
.font-new {
    font-family: 'Unbounded', sans-serif;
    --tw-text-opacity: 1;
    color: rgb(51 51 51/var(--tw-text-opacity));
}


@keyframes bg-pulse {
    0% {
        transform: scale(1);
        opacity: 0;
    }
    1% {
        opacity: 1;
    }
    99% {
        transform: scale(1.7);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}
  .animate-bg-pulse {
    animation: bg-pulse 4.5s ease-out infinite;
    transform: scale(1);
    transform-origin: center;
    stroke-opacity: 0;
    animation-duration: 4.5s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
  
   
  }
  .animate-bg-pulse-2 {
    animation: bg-pulse 4.5s ease-out infinite;
    transform: scale(1);
    transform-origin: center;
    stroke-opacity: 0;
    animation-duration: 4.5s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
  animation-delay: 1.5s;
   
  }
  .animate-bg-pulse-3 {
    animation: bg-pulse 4.5s ease-out infinite;
    transform: scale(1);
    transform-origin: center;
    stroke-opacity: 0;
    animation-duration: 4.5s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
  animation-delay: 3s;
   
  }